<!DOCTYPE html>
<html>
  <%- include("./partials/head") %>
  <body>
    <!-- Navbar (sit on top) -->
    <%- include("./partials/nav") %>

    <!-- Header -->
    <%- include("./partials/header") %>

    <!-- Page content -->
    <div class="ps-content">
      <!-- Menu Section -->
      <div class="ps-row ps-padding-64" id="menu">
        <div class="ps-col l6 ps-padding-large">
          <% if (req.params.id == platos.id) { %>
          <h1 class="ps-center"><%= platos.nombre %></h1>
          <br />
          <h4><%= platos.descripcion %></h4>
          <p class="ps-text-grey"><%= platos.precio %></p>
        </div>

        <div class="ps-col l6 ps-padding-large ps-img-menu">
          <img
            src="<%= platos.img %>"
            class="ps-round ps-image ps-opacity-min"
            alt="<%= platos.alt %> "
          />
        </div>
        <% } %>
      </div>

      <!-- Footer -->
      <%- include("./partials/footer") %>
    </div>
  </body>
</html>
